body{
    background-color: #ecd7d2;
    height: max-content;
    margin:0%;
}
ul{
        display: flex;
     list-style: none;
     text-transform: uppercase;
}
.button {
    border: none;
    background-color: #451207;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    float: left;
    color: yellow;
    margin-left: 90px;
    
  }
  .taco{
    float: left;
    width: 320px;
    height: 350px;
    margin-right: 25px;
  }
  .main p{
    color: yellow;
    position: absolute;
    z-index: 1;
    margin-bottom: -50px;
    margin-left: 10px;
  }
  main{
    margin-top: 25px;
    margin-left: 130px;
    height: 350px;
  }
  .images img{
           width: 66px;
           height: 66px;
           position: relative;
           padding-top: 10px;
           border-radius: 33px;
  }
  .box{
    width: 200px;
    height: 150px;
    position: relative;
    background-color: #451207;
    color: yellow;
    margin-left: 25px;
  }
  .images{
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 75px;
  }
  .box p{
    margin-top: 30px;
  }
  footer{
    display: flex;
    width: 1100px;
    margin-left: 80px;
    height: 150px;
   text-align: center;
   margin-top: 80px;
  }
  figure{
    display: flex;
    margin: 0%;
    width: max-content;
    align-items: baseline;
  }
  figure img{
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 20px;
  }
  figcaption{
    width: fit-content;
    position: relative;
}
footer div{
  width: fit-content;
  margin-left: 80px;
}